.prod-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod-wrapper{
    width: 60%;
    height: 40%;
    display: flex;
    border: none;
    position: relative;
    border-radius: 10px;
    background-color: #111827;
    color: white;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
}

.prod-left{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prod-right{
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    word-wrap: break-word;
}

.prod-right p{
    width: 70%;
}

.glow1::before,
.glow1::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(50deg, #e6fb04, #ff6600, #00ff66, #00ffff, #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -99;
    animation: animate 20s linear infinite alternate;
    border-radius: 10px;
}

@keyframes animate{
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow1::after{
    filter: blur(15px);
    opacity: 0.3;
}


@media only screen and (max-width:760px){
    .prod-wrapper{
        width: 80%;
        height: 90%;
        display: flex;
        flex-direction: column;
    }

    .prod-right{
        flex: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        word-wrap: break-word;
    }
}

